<div class="form">


  <div class="container-fluid">
    <div class="row">
      <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>


        <div class="form-group">

          <label for="name">Author</label>
          <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name">
          <br>
          <br>
          <br> Display {{newQuote.name}}
        </div>
        <br>

        <div class="form-group">

          <label for="description">Quote</label>
          <input type="text" class="form-control" id="description" name='quote' [(ngModel)]='newQuote.description' required>
          <br>

          <br> Display {{newQuote.description}}

        </div>
        <br>
        <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
      </form>
    </div>

  </div>
</div>


<!--<div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" required>

  </div>-->